				<!--EVENT ITEM BEGIN-->
				<div class="event ">
					<div class="row">
						<!--FILL OUT THIS PART-->
						<div class="col-md-8 picture">
							<a ><img src="img/events/gm.jpg"/></a>
						</div>

						<div class="col-md-4  content">
							<!--EVENT TITLE-->
							<h2>General Meeting</h2>
							<div>
								<h4>When</h4>
								<!--TIME-->
								<p>5:00pm - 6:00pm</p>
								<!--DATE-->
								<p>TBD</p>
							</div>
							<div>
								<h4>Place</h4>
								<!--ADDRESS-->
								<p>5800 Boelter Hall</p>
							</div>
							
							<a class="more-info">(More Information)</a>
						</div>
					</div>

	<!--SMALL SCREEN INFO BEGIN-->
	<div class="row hidden-md hidden-lg">
		<div class="col-md-12">
			<div class="horizontal-info">
				<!--Content-->
				<p><span style="float:left">General Meeting</span><span style="float:right">9pm-11pm, Jan 18 2014</span></p>
			</div>
		</div>
	</div>
	<!--SMALL SCREEN INFO END-->


<!--FILL OUT THIS PART END-->
				</div>
				<!--EVENT ITEM END-->