<!--EVENT ITEM BEGIN-->
<div class="event">
	<div class="row">
	<!--FILL OUT THIS PART-->
		<div class="col-md-8 picture">
			<a href="/"><img src="img/events/sample.jpg"/></a>
		</div>

		<div class="col-md-4  content">
			<!--EVENT TITLE-->
			<h2>New meeting!</h2>
			<div>
				<h4>When</h4>
				<!--TIME-->
				<p>5pm -11pm</p>
				<!--DATE-->
				<p>April</p>
			</div>
			<div>
				<h4>Place</h4>
				<!--ADDRESS-->
				<p>Boelter ESUC</p>
			</div>
						
			<!--Link-->
			<a class="more-info" href="/">(More Information)</a>
		</div>

		
	</div>


	<!--SMALL SCREEN INFO BEGIN-->
	<div class="row hidden-md hidden-lg">
		<div class="col-md-12">
			<div class="horizontal-info">
				<!--Content-->
				<p><span style="float:left">[Title Here]</span><span style="float:right">[Time Here], [Arpil 14]</span></p>
			</div>
		</div>
	</div>
	<!--SMALL SCREEN INFO END-->

	<!--FILL OUT THIS PART END-->
</div>
<!--EVENT ITEM END-->