<!DOCTYPE html>
<html lang="en">
<head>
	<!--WELCOME TO THE OFFICIAL WEBSITE OF THE ENGINEERING SOCIETY OF UCLA-->

	<!--META BEGIN-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="esuc, engineering society of ucla, ucla, engineering, society, university of california, university of california, los angeles">
	<!--META END-->
	<title>About - Engineering Society of UCLA</title>
	<!--LINKS BEGIN-->
	<link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='lib/bootstrap/css/bootstrap-theme.min.css' rel='stylesheet' type='text/css'>

	<link href='css/reset.css' rel='stylesheet' type='text/css'>
	<link href='css/style.css' rel='stylesheet' type='text/css'>
	<!--LINKS END-->
	<!--CDN BEGIN-->
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
	<!--CDN END-->
	<!--LOCAL BEGIN-->
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<!--<script type="text/javascript" src="js/.js"></script>-->
	<!--LOCAL END-->

</head>

<body>
<!--HEADER BEGIN-->
<div>
	<% include partial/header %>
</div>
<!--HEADER END-->


<div class="container">

	<div id="gallery-carousel" class="carousel slide"><!-- class of slide for animation -->
	  <div class="carousel-inner">
	    <div class="item active"><!-- class of active since it's the first item -->
	      <img class="carouselImg" src="img/covers/5.jpg" alt="failed to load the image" />
	    </div>
	  </div><!-- /.carousel-inner -->
	</div><!-- /.carousel -->

	<div class="main-section">
		<div class="row">
			<!--DESCRIPTION BEGIN-->
			<div class="section col-md-6">
				<div class="section-title">Mission Statement</div>
				<p>
					The mission of the Engineering Society of UCLA is to provide opportunities for undergraduate engineering students to broaden their social and professional networks.
				</p>		
				<br/>
				<div class="section-title">Purpose</div>
				<p>
					<ol start="number">
						<li>1. To encourage the development of professional etiquette.</li>
						<li>2. To promote a spirit of congeniality amongst engineering students.</li>
						<li>3. To serve as a friendly bridge of communication among faculty and the engineering profession.</li>
					<ol>
				</p>	
			</div>
			<!--DESCRIPTION END-->

			<!--DESCRIPTION BEGIN-->
			<div class="section col-md-6">
				<div class="section-title">Join ESUC Today!</div>
				<p>
					If you would like to become an ESUC member, come to any of our general meetings or contact us via email. ESUC members receive weekly emails that include upcoming engineering events and other latest news, and have exclusive access to the <span style="font-style:italic;font-size:16px">Engineering Survival Guide</span>. Participating in ESUC events gives you opportunities to build contacts with people in industry and students in different majors across the campus. We hope to see you in the next event!
				</p>
			</div>
			<!--DESCRIPTION END-->
			


		</div>
	</div>
</div>

<!--FOOTER BEGIN-->
<div>
	<% include partial/footer %>
</div>
<!--FOOTER END-->

</body>
</html>