<!DOCTYPE html>
<html lang="en">
<head>
	<!--WELCOME TO THE OFFICIAL WEBSITE OF THE ENGINEERING SOCIETY OF UCLA-->

	<!--META BEGIN-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="esuc, engineering society of ucla, ucla, engineering, society, university of california, university of california, los angeles">

	<!--META END-->
	<title>Co-host - Engineering Society of UCLA</title>
	<!--LINKS BEGIN-->
	<link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='lib/bootstrap/css/bootstrap-theme.min.css' rel='stylesheet' type='text/css'>

	<link href='css/reset.css' rel='stylesheet' type='text/css'>
	<link href='css/style.css' rel='stylesheet' type='text/css'>
	<!--LINKS END-->
	<!--CDN BEGIN-->
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
	<!--CDN END-->
	<!--LOCAL BEGIN-->
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<!--<script type="text/javascript" src="js/.js"></script>-->
	<!--LOCAL END-->

</head>

<body>
<!--HEADER BEGIN-->
<div>
	<% include partial/header %>
</div>
<!--HEADER END-->


<div class="container">

	<div id="gallery-carousel" class="carousel slide"><!-- class of slide for animation -->
	  <div class="carousel-inner">
	    <div class="item active"><!-- class of active since it's the first item -->
	      <img class="carouselImg" src="img/covers/8.jpg" alt="failed to load the image" />
	    </div>
	  </div><!-- /.carousel-inner -->
	</div><!-- /.carousel -->

	<div class="main-section">
		<div class="row">
			<!--DESCRIPTION BEGIN-->
			<div class="section col-md-12">
				<div class="section-title">Co-host An Event</div>
				<p>
					Throughout the year, ESUC co-hosts a series of informational and recruitment sessions for engineering companies, consulting firms and graduate programs. If you are interested in co-hosting an event with us, please fill out the form below and you will be contacted by an ESUC officer shortly.
				</p>	
				<br/>
				<p>
					If you have any additional questions or concerns please contact Megha Manjunath at <a href="mailto:esuc.ucla.president@gmail.com">esuc.ucla.president@gmail.com</a>
				</p>		
			</div>
			<!--DESCRIPTION END-->

			<!--FORM BEGIN-->
			<div class="section col-md-12">
				<center>
					<iframe class="iframe-form" src="https://docs.google.com/forms/d/1F4mTllZ005ip47_5up8a7jkGlZpIRVwb96YvPtxyrz0/viewform?embedded=true" width="700" height="1040" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
				</center>
			</div>	
			<!--FORM END-->

			
		</div>
	</div>
</div>

<!--FOOTER BEGIN-->
<div>
	<% include partial/footer %>
</div>
<!--FOOTER END-->

</body>
</html>