<!DOCTYPE html>
<html lang="en">
<head>
	<!--WELCOME TO THE OFFICIAL WEBSITE OF THE ENGINEERING SOCIETY OF UCLA-->

	<!--META BEGIN-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="esuc, engineering society of ucla, ucla, engineering, society, university of california, university of california, los angeles">

	<!--META END-->
	<title>Events - Engineering Society of UCLA</title>
	<!--LINKS BEGIN-->
	<link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='lib/bootstrap/css/bootstrap-theme.min.css' rel='stylesheet' type='text/css'>

	<link href='css/reset.css' rel='stylesheet' type='text/css'>
	<link href='css/style.css' rel='stylesheet' type='text/css'>
	<!--LINKS END-->
	<!--CDN BEGIN-->
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
	<!--CDN END-->
	<!--LOCAL BEGIN-->
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<!--<script type="text/javascript" src="js/.js"></script>-->
	<!--LOCAL END-->

</head>

<body>
<!--HEADER BEGIN-->
<div>
	<% include partial/header %>
</div>
<!--HEADER END-->


<div class="container">

	<div id="gallery-carousel" class="carousel slide"><!-- class of slide for animation -->
	  <div class="carousel-inner">
	    <div class="item active"><!-- class of active since it's the first item -->
	      <img class="carouselImg" src="img/covers/9.jpg" alt="failed to load the image" />
	    </div>
	  </div><!-- /.carousel-inner -->
	</div><!-- /.carousel -->

	<div class="main-section">
		<div class="row">
			<!--DESCRIPTION BEGIN-->
			<div class="section col-md-12">
				<div class="row">
					<p style="margin-left:30px">
						Here is a list of <a href="/major-events">major events</a> that we hold throughout the year. You can also check out our <a href="https://www.facebook.com/ESUCLA/photos_stream?tab=photos_albums">event gallery</a> right here!
					</p>
				</div>		
			</div>
			<!--DESCRIPTION END-->

			<!--UPCOMING EVENTS BEGIN-->
			<div class="section col-md-12">
				<div class="section-title">Upcoming Events</div>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6">
							<% include events/gm1 %>
						</div>

						
					
					</div>
				</div>		
			</div>
			<!--UPCOMING EVENTS END-->
		</div>

		<div class="row">
			<!--PAST EVENTS BEGIN-->
			<div class="section col-md-12">
				<div class="section-title">Past Events</div>
				<p class="none">None</p>			
			</div>
			<!--PAST EVENTS END-->
		</div>
	</div>
</div>

<!--FOOTER BEGIN-->
<div>
	<% include partial/footer %>
</div>
<!--FOOTER END-->

</body>
</html>