<!DOCTYPE html>
<html lang="en">
<head>
	<!--WELCOME TO THE OFFICIAL WEBSITE OF THE ENGINEERING SOCIETY OF UCLA-->

	<!--META BEGIN-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="esuc, engineering society of ucla, ucla, engineering, society, university of california, university of california, los angeles">
	<meta name="description" content="The Engineering Society of UCLA (ESUC) is the umbrella organization for all of the various engineering and technical societies at UCLA.">
	<meta name="author" content="Vic Yeh">
	<!--META END-->
	<title>Engineering Society of UCLA</title>
	<!--LINKS BEGIN-->
	<link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='lib/bootstrap/css/bootstrap-theme.min.css' rel='stylesheet' type='text/css'>

	<link href='css/reset.css' rel='stylesheet' type='text/css'>
	<link href='css/style.css' rel='stylesheet' type='text/css'>
	<!--LINKS END-->
	<!--CDN BEGIN-->
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
	<!--CDN END-->
	<!--LOCAL BEGIN-->
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<!--LOCAL END-->
	<style>

	</style>

</head>

<body>
<!--HEADER BEGIN-->
<div>
	<% include partial/header %>
</div>
<!--HEADER END-->

<div class="container">

	<div id="gallery-carousel" class="carousel slide"><!-- class of slide for animation -->
	  <div class="carousel-inner">
	    <div class="item active"><!-- class of active since it's the first item -->
	      <img class="carouselImg center-block" src="img/events/SEVC kickoff flyer landscape-page-001.jpg" alt="failed to load the image" />
	    </div>
	    <div class="item">
	      <img class="carouselImg center-block" src="img/events/NewMemberFlyer-page-001.jpg" alt="failed to load the image" />
	    </div>
	    <div class="item">
	      <img class="carouselImg center-block" src="img/events/PAGE1 EBOARD career fair-page-001.jpg" alt="failed to load the image" />
	    </div>
	    <div class="item">
	      <img class="carouselImg center-block" src="img/events/uva grad school flyer.pdf" alt="failed to load the image" />
	    </div>
	    <div class="item">
	      <img class="carouselImg center-block" src="img/events/Fall-Science-Vendor-Expo-Flyer-Landscape.jpg" alt="failed to load the image" />
	    </div>
	    <div class="item">
	      <img class="carouselImg center-block" src="img/events/ACM_Local Hackday-page-001.jpg" alt="failed to load the image" />
	    </div>
	    <div class="item">
	      <img class="carouselImg center-block" src="img/events/internship night landscape-page-001.jpg" alt="failed to load the image" />
	    </div>
	    <div class="item">
	      <img class="carouselImg center-block" src="img/events/AFTC UCLA Flyer(landscape)-page-001.jpg" alt="failed to load the image" />
	    </div>
	    <div class="item">
	      <img class="carouselImg center-block" src="img/events/NEU ECE Flyer(landscape) copy-page-001.jpg" alt="failed to load the image" />
	    </div>
	    <div class="item">
	      <img class="carouselImg center-block" src="img/events/Speed Mentoring Event (1)-page-001.jpg" alt="failed to load the image" />
	    </div>
	  </div><!-- /.carousel-inner -->
	  <!--  Next and Previous controls below
	        href values must reference the id for this carousel -->
	    <a class="carousel-control left" href="#gallery-carousel" data-slide="prev"></a>
	    <a class="carousel-control right" href="#gallery-carousel" data-slide="next"></a>
	</div><!-- /.carousel -->

	</div>

<!--FOOTER BEGIN-->
<div>
	<% include partial/footer %>
</div>
<!--FOOTER END-->

</body>
</html>