<!DOCTYPE html>
<html lang="en">
<head>
	<!--WELCOME TO THE OFFICIAL WEBSITE OF THE ENGINEERING SOCIETY OF UCLA-->

	<!--META BEGIN-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="esuc, engineering society of ucla, ucla, engineering, society, university of california, university of california, los angeles">

	<!--META END-->
	<title>Major Events - Engineering Society of UCLA</title>
	<!--LINKS BEGIN-->
	<link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='lib/bootstrap/css/bootstrap-theme.min.css' rel='stylesheet' type='text/css'>

	<link href='css/reset.css' rel='stylesheet' type='text/css'>
	<link href='css/style.css' rel='stylesheet' type='text/css'>
	<!--LINKS END-->
	<!--CDN BEGIN-->
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
	<!--CDN END-->
	<!--LOCAL BEGIN-->
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<!--<script type="text/javascript" src="js/.js"></script>-->
	<!--LOCAL END-->

</head>

<body>
<!--HEADER BEGIN-->
<div>
	<% include partial/header %>
</div>
<!--HEADER END-->


<div class="container">

	<div id="gallery-carousel" class="carousel slide"><!-- class of slide for animation -->
	  <div class="carousel-inner">
	    <div class="item active"><!-- class of active since it's the first item -->
	      <img class="carouselImg" src="img/covers/9.jpg" alt="failed to load the image" />
	    </div>
	  </div><!-- /.carousel-inner -->
	</div><!-- /.carousel -->

	<div class="main-section m-e-section">
		<div class="row">
			<!--DESCRIPTION BEGIN-->
			<div class="section col-md-12">
				<div class="row">
					<center><div class="section-title">Annual Events</div></center>
					<p style="margin:0 25px;color:#333">
						ESUC hosts many events at UCLA throughout the school year. These events are an integral aspect of the UCLA engineering community, and each year we strive for improvements. Descriptions and photographs of each event can be found below.
					</p>	
				</div>	
				<br/>
				<br/>
				<div class="row">
					<div class="section-title">Engineering Welcome Day (EWD)</div>
					<p class="event-desc">
						EWD is an orientation event for roughly 700 incoming engineering freshmen and transfer students. As ESUC's first event of the school year, the purpose of this event is to first and foremost, serve as a forum where students have the opportunity to network with faculty, staff, alumni and peers in an effort to create a smooth transition to UCLA Engineering. In addition to informing students of resources that are available to them to assist in their academic and professional success, this event serves to showcase the various engineering organizations on campus striving to encourage students to get involved with UCLA Engineering outside of the classroom.
					</p>	
				</div>	

				<hr>

				<div class="row">
					<div class="section-title">Engineering Leadership Conference (ELC)</div>
					<p class="event-desc">
						ELC is a collaborative event between ESUC's corporate affiliates and nearly 200 student leaders within UCLA Engineering. The purpose of this event is to enhance leadership skills and promote effective communication between student leaders.
					</p>	
				</div>


				<hr>

				<div class="row">
					<div class="section-title">StartUp Fair</div>
					<p class="event-desc">
						UCLA Engineering organizations held it's first ever StartUp fair in the Fall of 2013. Similar to a typical career fair, this event features companies strictly from the local startup community. The purpose of this event is to provide engineers the opportunity to learn more about the startup culture. In addition to the startup company representatives attending to recruit UCLA Engineers, this event features several panel discussions aimed towards providing students with the proper skills to succeed in their own business ventures.
					</p>	
				</div>

				<hr>

				<div class="row">
					<div class="section-title">Engineering Alumni Mixer</div>
					<p class="event-desc">
						In an effort to bridge the gap of communication between current students and alumni, we hope this event will provide us all with the opportunity to strengthen the bonds of UCLA Engineering and foster a closer knit community. For those interested in mentoring current students, please take a few minutes to fill out this <a href="https://secure.www.alumniconnections.com/olc/pub/UCLA/event/showEventForm.jsp?form_id=169429&preview=UCLA20140213195131_0">alumni mentor interest form</a>. Once you have submitted the form, you will be notified sometime in September, when the application process has begun.
					</p>	
				</div>

				<hr>

				<div class="row">
					<div class="section-title">Roundtable Luncheon</div>
					<p class="event-desc">
						The roundtable luncheon is a quarterly meeting among the Presidents and Vice Presidents of the various engineering student organizations and individuals from UCLA Engineering's Office of Academic and Student Affairs. The purpose of this meeting is to maintain a flow of communication between student organizations and the administration.
					</p>	
				</div>


				<hr>

				<div class="row">
					<div class="section-title">Executive Committee Meeting</div>
					<p class="event-desc">
						ExComm is a meeting between the Presidents and Vice Presidents of the various engineering student organizations. This meeting takes place after the Roundtable Luncheon, and serves as a follow-up discussion that expands upon topics brought up during the Roundtable Luncheon. The purpose of this event is to sustain effective communication between the engineering clubs on campus.
					</p>	
				</div>

				<hr>

				<div class="row">
					<div class="section-title">Student Group of the Year Competition</div>
					<p class="event-desc">
						The Student Group of the Year Competition is held at the end of the school year and serves to recognize outstanding engineering student organizations who have made positive contributions to the community during the year. The first round of the competition is an application based on which, a select few organizations are invited to deliver a presentation to a panel of judges. The awards are then presented to the winners at the UCLA Engineering Senior Dinner.
					</p>	
				</div>

			</div>
			<!--DESCRIPTION END-->
		</div>

	</div>
</div>

<!--FOOTER BEGIN-->
<div>
	<% include partial/footer %>
</div>
<!--FOOTER END-->

</body>
</html>