body {
    padding-top: 50px;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

h1 {
    /*font-size: 4.7vw;*/
    font-size: 2.5em;   /* no use here...controlled by custom.js */
    text-align: center;
}

h2 {
    /*font-size: 3.3vw;*/
    font-size: 1.8em;   /* no use here...controlled by custom.js */
}

h3 {
    font-size: 1.5em;   /* no use here...controlled by custom.js */
}

h4 {
    /*font-size: 2.7vw;*/
    font-size: 1.2em;   /* no use here...controlled by custom.js */
}

p, a, li, div, span {
    font-family: 'Open Sans', sans-serif;
}

.page {
    margin: 0 auto;
    max-width: 930px;
    z-index: 1;/*safari issues*/
    -webkit-transform: translate3d(0,0,0);/*safari issues*/
}

.page-background {
    content: "";
    /*background: url(../pictures/cream_dust.png) repeat 0 0;*/
    background: url(../pictures/geometry.png) repeat;
    background-size: 50 50; /* safari does not like the short-handed versioin*/
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-transform: translate3d(0,0,0);/*safari issues*/
    max-width: 930px;
}

main > div {
    padding-top: 50px;
}

hr {
    margin: 10px 0 20px 0;  /* margin and width further modified with js according to .page width */
}

#Home,
#About,
#Events {
   padding-bottom:2%;
}

/* Navbar CSS begins */
.nav-ul {
    /*width: 97%;*/

}

.navbar-top #navbar {
    /*float: right;*/
}

.navbar-top #navbar a {
    margin: 10px 15px 10px 0;
}

.navbar-top #navbar .active a {
    /*background-color: #3498DB;*/
    border-radius: 3px;
    color: white;
    background-color: grey;
}

.logo {
    margin-top: -5px;
    width: 60px;
}

.nav-ul li:nth-last-child(1) {
    /*float: right;*/
}

.navbar-top #navbar .top-nav-button {
    background-color: #3498DB;
    border-radius: 3px;
    color: white;
}
/* Navbar CSS ends */

/* #Home CSS begins */
#Home {
    background-color: #3498DB;
    color: white;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

#Home > h1 {
    font-family: 'Montserrat', sans-serif;
}

#Home h3 {
    text-align: center;
}

.signup {
    text-align: center;
    margin: 15px 0 5px 0;
}

.signup a {
    padding: 10px 20px 10px 20px;
    font-size: 1.2em;
    color: black;
    
    /* colorzilla (http://www.colorzilla.com/gradient-editor/) */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 1%, #ecf0f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#ecf0f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 1%,#ecf0f1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 1%,#ecf0f1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 1%,#ecf0f1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 1%,#ecf0f1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecf0f1',GradientType=0 ); /* IE6-9 */
}

/* #Home CSS ends */

/* #About CSS begins */
#About {
    background-color: #ECF0F1;
}

#About h2 {
    text-align: center;
}

#About h3 {
    text-align: center;
}

#About > div {
    text-align: justify;
}
/* #About CSS ends */

/* #Events CSS begins */

#Events > div {
    background-color: #ECF0F1;
    border-radius: 5px;
    padding: 5px 20px 5px 15px;
}

#Events > h1 {
    padding-bottom: 20px;
}

.event-top-nav {
    padding: 0px;
}

.event-top-nav ul {
    width: 95%;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: auto;
}

.event-top-nav ul li {
    display: inline-block;
    width: 18.59%;
    margin-left: 0.80%;
}

.event-top-nav ul li:nth-child(5) {
    margin-right: 0.80%;
}

.mobile-specific ul li {
    width: 17.5%;
    margin-left: 1%;
}

.mobile-specific ul li:nth-child(5) {
    margin-right: 1%;
}

.event-top-nav ul li a {
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #8A8A8A;
    width: 100%;
    height: 70px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    padding: 0;
    padding-top: 1em;
    text-align: center;
    text-decoration: none;
    margin: 0;
    /*border: 1px solid red;*/
}

.mobile-specific ul li a {
    height: 50px;
    padding-top: 0.5em;
}

.event-top-nav ul li a:hover {
    /*background-color: #8A8A8A;
    color: white;*/
}

.event-top-nav ul li a.event-top-nav-active {
    background-color: #ECF0F1;
    color: #3498DB;
    font-weight: bold;
}

.event-top-nav ul li.event-top-nav-active a:hover {
    
}






.event-list {
    /*width: 95%;*/
}

.event {
    padding-bottom: 25px;
}

.event-time {
    /*border: 1px solid red;*/
}

.event-heading {
    /*border: 1px solid red;*/
    margin-left: 10px;
    padding-bottom: 0;
    /*background-color: white;*/
}

.event-heading a:hover {
    color: #3498DB;
}

.event-heading h4 {
    color: #3498DB;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #E6E6E6;
}

.event-heading .arrow {
    visibility: hidden;
}

.event-heading .arrow-active {
    visibility: visible;
    font-size: 20px;
    top: 8px;
    float: right;
}

.event-description {
    padding-left: 30px;
    font-size: 1.2em;
}

.event-location {
    
    padding-left: 15px;
    /*border: 1px solid red;*/
}

/* Events CSS ends */

/* Scoreboard CSS begins */
#Scoreboard > div {
    overflow-x: scroll;
}

#scoretable {
    background-color: white;
    max-width: 200%;    /* overwrite bootstrap's 100%, which change the background coloring */
}
/* Scoreboard CSS ends */

/* Social CSS begins */
.tagboard {
    height: 500px;
    overflow-y: scroll;
}
/* Social CSS ends */

/* Sponsors CSS begins */
#Sponsors {
    padding-bottom: 30px;
    clear: both;
    /*border: 1px solid red;*/
}

.sponsor-logo {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 25px;
    /*border: 1px solid green;*/
}

#Sponsors .row > div {
    height: 49%;
    /*border: 1px solid blue;*/
}

#Sponsors img {
    width: 99%;
}
/* Sponsors CSS ends */

/* Contact CSS begins */
#Contact {
    background-color: #ECF0F1;
    padding-top: 10px;
}

.social-media {
    list-style: none;
    text-align: center;
    padding: 0;
}

.social-media li {
    display: inline-block;
    margin-right: 20px;
}

.social-media li:last-child {
    margin-right: 0px;
}

.social-media li a {
    color: #3498DB;
    font-size: 2.5em;
}

/* Contact CSS ends */

footer {
    background-color: #8A8A8A;
}

footer p {
    color: white;
    text-align: center;
    padding: 15px 0 15px 0;
}

footer p a {
    color: white;
    text-decoration: underline;
}