<div class="profile col-md-4">
	<h2>Membership Chair</h2>
		<center><img src="img/profile/officers/IMG_2408.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Adam Andrews <a href="mailto:esuc.ucla.membership@gmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2016 | Bioengineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAdam" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseAdam" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hello! My name is Adam Andrews and I am a second year Bioengineering Major. I was born and raised in South Orange County, and have been involved with ESUC since my freshman year! I'm happy to say that I'm ESUC's current membership chair. Please feel free to ask me questions of any kind or to contact me for any reason. I look forward to meeting you!
		</div>
	</div>
</div>