<div class="profile col-md-4">
	<h2>Webmaster</h2>
		<center><img src="img/default_user.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Akshat Keshan</h3>
			<p class="short-desc">Class of 2015 | Computer Science</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAkshat" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseAkshat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hey everyone, my name is Akshat Keshan and I am a 4th year Computer Science major at UCLA. I grew up in Cupertino, California and joined ESUC as the Webmaster. Excited to meet you!
		</div>
	</div>
</div>