<div class="profile col-md-4">
	<h2>Publicity Chair</h2>
		<center><img src="img/default_user.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Asmita Paranjape</h3>
			<p class="short-desc">Class of 2017 | Computer Science</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAsmita" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseAsmita" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hey y'all, my name is Asmita Paranjape, and I'm a second year Computer Science major from Boston, Massachusetts, and this year's Publicity Chair for ESUC. I'm also a DJ for UCLA Radio and am interested in all-things-comedy. See you around, and don't hesitate to say hey if you have a question, comment or even a joke!
		</div>
	</div>
</div>