<div class="profile col-md-4">
	<h2>Webmaster</h2>
		<center><img src="img/default_user.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Chris Orcutt</h3>
			<p class="short-desc">Class of 2016 | Computer Science</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseChris" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseChris" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Greetings! I’m Chris! I transferred to UCLA in Fall 2013 from a community college in the East Bay Area (Los Medanos College). Throughout my academic career, I changed my major 8 times, until (finally) I realized computer science best fit my interests. Fundamentally, I am drawn to creation, to taking an idea and making it reality. This attraction to creation motivates my pursuits as a musician and mobile app developer. While at UCLA, I hope to gain the skills needed to successfully redefine the role of technology in the classroom. I love learning new things and always enjoy talking about ideas, technology, and the future of education.
		</div>
	</div>
</div>