<div class="profile col-md-4">
	<h2>Internal Vice President</h2>
		<center><img src="img/profile/officers/IMG_2072.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Frank Chen</h3>
			<p class="short-desc">Class of 2017 | Electrical Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hi! My name is Frank; I am a second-year Electrical Engineering major and I currently serve as the Internal Vice President of ESUC. We have come a long way as a club in the last couple of years, and we have exciting plans for the upcoming quarters. An ideal day for me include some good books and relaxing music; I look forward to meeting you at our events in the future!
		</div>
	</div>
</div>