<div class="profile col-md-4">
	<h2>Treasurer</h2>
		<center><img src="img/profile/officers/IMG_2369.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>George Li</h3>
			<p class="short-desc">Class of 2016 | Electrical Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseGeorge" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseGeorge" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hey there! My name is George Li, and I am a third-year
electrical engineering student. I was born and raised in Chengdu, China. I joined ESUC in the winter quarter during my freshman year and currently I am the treasurer of the club. Besides my ESUC experience, I am a very active member in the greater UCLA engineering community as well. Currently I am the corporate director of HKN, and I was on the IEEE general board last year. I am also an active brother at Triangle Fraternity. If you have any questions about ESUC, Engineering clubs or just general questions about your engineering life at UCLA, I am more than glad to answer them and try my best to help you out. Hope to see you all around UCLA!
		</div>
	</div>
</div>