<div class="profile col-md-4">
	<h2>Social Chair</h2>
		<center><img src="img/profile/officers/IMG_3171.JPG" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Henry Zhu <a href="mailto:zhulihenglibi@gmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2016 | Electrical Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseHenry" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseHenry" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			HI,everyone. I'm Henry! I'm a third year Electrical Engineering student. I've grown up in Shanghai,China, a beautiful city and i really miss it. l love ESUC since it's  a place that you can feel like you are the owner of our engineering department and it's indeed a great chance to develop your leadership skills. i love multidisciplinary experience that combines different technical skills together and make a real difference. so i would love to meet new faces and expand my horizon.
		</div>
	</div>
</div>