<div class="profile col-md-4">
	<h2>Eweek Chair</h2>
		<center><img src="img/default_user.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Jennifer Tan</h3>
			<p class="short-desc">Class of 2017 | Linguistics & Computer Science</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseJennifer" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseJennifer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hello! My name is Jennifer, and I'm a sophomore studying Linguistics and Computer Science. Besides being the Engineer's Week Chair in ESUC, I'm also an online developer with the Daily Bruin, a Hill Government Representative with UCLA Residential Life, and a member of Grace on Campus. Feel free to come say hi!
		</div>
	</div>
</div>