						<div class="profile col-md-4">
							<h2>External Vice President</h2>
							<center><img src="img/profile/officers/IMG_2393.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
							<div>
								<h3>Kamal Deep Sheokand</h3>
								<p class="short-desc">Class of 2016 | Civil Engineering</p>
								<div class="expand-container">
									<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapseOne"></a>
								</div>
							</div>
							<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						      <div class="panel-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. 
						      </div>
						    </div>
						</div>