<div class="profile col-md-4">
	<h2>Corporate Outreach Director</h2>
		<center><img src="img/profile/officers/IMG_2203.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Kenta Onimura <a href="mailto:esuc.ucla.corporate@gmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2017 | Computer Science</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseKenta" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseKenta" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			My name is Kenta and I'm a second-year Computer Science major. I am currently a Corporate Director and was a Corporate Committee intern last term. During my two terms under ESUC, I have had the opportunity to collaborate with numerous companies and to represent ESUC and UCLA engineering. Outside of the engineering community, I am also an active member of Bruin Consulting and have a passive interest in business studies. When I am not involved with academics, I enjoy staying in touch with my Japanese heritage through trips to Japanese restaurants in Sawtelle.
		</div>
	</div>
</div>