<div class="profile col-md-4">
	<h2>Historian</h2>
		<center><img src="img/profile/officers/IMG_3148.JPG" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Lily Liao</h3>
			<p class="short-desc">Class of 2017 | Computer Science</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseLily" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseLily" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hi everyone. I'm Lily, second-year computer science major. I joined ESUC as a historian after going to so many amazing events the club hosted. I like technology and business, hoping to combing these two fields and create something while I'm at ucla, an active and inspiring environment with so many talented fellows. Would love to know you all and exchange ideas!!
		</div>
	</div>
</div>