<div class="profile col-md-4">
	<h2>President</h2>
		<center><img src="img/profile/officers/IMG_2419.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Megha Manjunath <a href="mailto:esuc.ucla.president@gmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2015 | Computer Science</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hi, my name is Megha and I was born and raised in Santa Barbara. I hope to one day go to law school and become a patent lawyer! But until then, here's to a wonderful last year at UCLA filled with lots happiness and fancy brunches!
		</div>
	</div>
</div>