						<div class="profile col-md-4">
							<h2>External Vice President</h2>
							<center><img src="img/profile/officers/IMG_2325.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
							<div>
								<h3>Mohammed Husain</h3>
								<p class="short-desc">Class of 2017 | Aerospace Engineering</p>
								<div class="expand-container">
									<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapseOne"></a>
								</div>
							</div>
							<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						      <div class="panel-body">
						        Hello everyone, my name is Mohammed Husain and I'm the External Vice President for ESUC. I grew up in southern California with an appreciation for math and the sciences, and Aerospace Engineering seemed like a challenging, yet rewarding major for me! Hope you to see you all around UCLA, in and outside the classroom!
						      </div>
						    </div>
						</div>