<div class="profile col-md-4">
	<h2>Mentorship Chair</h2>
		<center><img src="img/default_user.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Saad Syed</h3>
			<p class="short-desc">Class of 2017 | Computer Science & Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSaad" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseSaad" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hello! My name is Saad Syed, and I am a second year Computer Science and Engineering student. I was born in Pakistan but grew up in the Bay Area (Fremont, to be exact). I've been involved with ESUC since my Freshman year and I am the current mentorship chair for the club. Hit me up if you have any comments, suggestions, or just want to say hi!
		</div>
	</div>
</div>