<div class="profile col-md-4">
	<h2>Corporate Outreach Director</h2>
		<center><img src="img/profile/officers/IMG_3156.JPG" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Sajal Khanter <a href="mailto:sajal.khanter@gmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2016 | Computer Science & Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSajal" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseSajal" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hello, my name is Sajal Khanter and I'm a 3rd year at UCLA majoring in Computer Science & Engineering. I currently serve as the Corporate Outreach Director of ESUC. In my free time, I love playing soccer and and discussing equity investment ideas.
		</div>
	</div>
</div>