<div class="profile col-md-4">
	<h2>Newsletter Editor</h2>
		<center><img src="img/default_user.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Utkarsh Pandey</h3>
			<p class="short-desc">Class of 2016 | Materials Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseUtkarsh" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseUtkarsh" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hey guys, my name is Utkarsh and I'm a third-year Materials Science and Engineering major (the only one in ESUC). I have the distinct pleasure of being your Editor-in-Chief this year, so if you see any publications with the name ESUC on them, you can be sure that they passed through my desk at some point or another. I also participate in Model United Nations and write for Satyr, UCLA's only comedy magazine. In my free time I play football, discuss deontological ethical theory, and go to meetings of the Bruin Alliance of Skeptics and Secularists.
		</div>
	</div>
</div>