<div class="profile col-md-4">
	<h2>Corporate Outreach Director</h2>
		<center><img src="img/profile/officers/IMG_2546.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Vic Yeh <a href="mailto:vic.yeh@ucla.edu"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2017 | Computer Science & Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseVic" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseVic" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hello world! My name is Vic Yeh, and I'm a sophomore studying Computer Science and Engineering. I'm excited to be your corporate director this year. I was born in Hsinchu, Taiwan, the silicon valley there, so it feels like I am destined to become a computer engineer later in my life. If you have any questions about CS or Taiwanese food in general, I'm willing to answer them for you. Finally, I can't wait to meet you in our events, and hope you all succeed in 2015!
		</div>
	</div>
</div>