<div class="profile col-md-4">
	<h2>Secretary</h2>
		<center><img src="img/profile/officers/IMG_2504.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Yiran Wang</h3>
			<p class="short-desc">Class of 2017 | Electrical Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseYiran" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapseYiran" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hello everyone! My name is Yiran Wang, and I'm a sophomore majoring in electrical engineering. I'm glad to be the secretary of ESUC this year. I'm from China, and I really enjoy my life here in LA. If you have any questions about ESUC, Engineering here in UCLA, I am glad to help. I'm looking forward to meeting you!
		</div>
	</div>
</div>