<div id="headerSpecial" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="/"><h1 id="header-title">
						Engineering Society
						<span>University of California, Los Angeles</span>
				</h1></a>
			</div>

			<div class="col-md-5 col-md-offset-7 hidden-xs">
				<ul id="menu" >

					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>

					<li id="events">
						<a>Events</a>
						<div class="sub-menu">
							<ul>
								<li><a href="/events">Club Events</a></li>
								<li><a href="/eventflyers">Event Flyers</a></li>
							</ul>
						</div>
					</li>

					<li><a href="/officers">Officers</a></li>

					<li id="calendar">
						<a>Calendar</a>
						<div class="sub-menu">
							<ul>
								<li><a href="/engineering-calendar">Engineering Calendar</a></li>
								<li><a href="/lounge-calendar">Lounge Calendar</a></li>
							</ul>
						</div>
					</li>

					<li id="sponsor">
						<a>Sponsor</a>
						<div class="sub-menu">
							<ul>
								<li><a href="/our-sponsors">Our Sponsors</a></li>
								<li><a href="/co-host">Co-host An Event</a></li>
								<li><a href="/donate">Donate</a></li>
							</ul>
						</div>
					</li>
					<li><a href="/contact">Contact</a></li>
				<ul>
			</div>

			<nav class="navbar navbar-default visible-xs-block" style="z-index:998">
			    <div class="container">
			        <div class="navbar-header">
			       	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			              <span class="sr-only">Toggle navigation</span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			            </button>
			        </div>

			        <div id="navbar" class="navbar-collapse collapse ">
			            <ul class="nav navbar-nav navbar-right" >
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/events">Events</a></li>
							<li><a href="/officers">Officers</a></li>
			              	<li class="dropdown">
			                	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Calendar <span class="caret"></span></a>
			                	<ul class="dropdown-menu" role="menu">
									<li><a href="/engineering-calendar">Engineering Calendar</a></li>
									<li><a href="/lounge-calendar">Lounge Calendar</a></li>
			                	</ul>
			                </li>

			              	<li class="dropdown">
			                	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sponsor <span class="caret"></span></a>
			                	<ul class="dropdown-menu" role="menu">
									<li><a href="/our-sponsors">Our Sponsors</a></li>
									<li><a href="/co-host">Co-host An Event</a></li>
									<li><a href="/donate">Donate</a></li>
			                	</ul>
			                </li>
			                <li><a href="/contact">Contact</a></li>
			            </ul>
			        </div><!--/.nav-collapse -->
		        </div><!--/.container -->
			</nav>

		</div>
	</div>

</div>			 
