<div id="footer" class="container-fluid">
	<div class="container">
		<div class="row">
			<div  class="col-md-3">
				<img id="ucla-logo" src="img/esuc.png" width="180px" height="145px" />
				<h1 id="footer-title">
						Engineering Society
						<span>University of California, Los Angeles</span>
				</h1>
			</div>


			<div class="col-md-3 footer-section">
				<h1>Our Sponsors</h1>
				<ul>
					<li><a target="_blank" href="http://www.intel.com/content/www/us/en/homepage.html">Intel</a></li>
					<li><a target="_blank" href="http://www.yottabyte.com">Yottabyte</a></li>
					<li><a target="_blank" href="http://tappers.com">Tapper's</a></li>
			</div>

			<div  class="col-md-3 footer-section">
				<h1>Contact Us</h1>
				<ul>	
					<li>ESUC Mailing Address</li>
					<li>
						<ul class="sub-list">
							<li>5800 Boelter Hall, UCLA</li>
							<li>420 Westwood Plaza</li>
							<li>Los Angeles, CA 90095</li>
						</ul>
					</li>

					<li>General Email Address</li>
					<li>
						<ul class="sub-list">
							<li><a href="mailto:esuc.ucla@gmail.com">esuc.ucla@gmail.com</a></li>
						</ul>
					</li>

				</ul>
			</div>

			<div  class="col-md-3 footer-section">
				<h1>Connect</h1>
				<ul>
					<li>Join Mailing List</li>
					<li>
						<ul class="sub-list">
							<li><a href="http://lists.ucla.edu/cgi-bin/mailman/listinfo/esuc-members">Subscribe here!</a></li>
						</ul>
					</li>
					<li class="social-networks"><img src="/img/facebook.png" width="25px" height="25px"><a href="https://www.facebook.com/ESUCLA">&nbsp;&nbsp;Facebook</a></li>
					<li class="social-networks"><img src="/img/twitter.png" width="25px" height="25px"><a href="https://twitter.com/esucla">&nbsp;&nbsp;Twitter</a></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<p id="copyright">&copy; 2015 Engineering Society of UCLA. Design by <a target="_blank" href="http://vicyeh.me">Vic Yeh</a></p>
		</div>
	</div>

</div>			 
