<div id="header" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="/"><h1 id="header-title">
						Engineering Society
						<span>University of California, Los Angeles</span>
				</h1></a>
			</div>

			<div class="col-md-5 col-md-offset-7">
				<ul id="menu">

					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/officers">Officers</a></li>
					<li id="calendar">
						<a>Calendar</a>
						<div class="sub-menu">
							<ul>
								<li><a href="/engineering-calendar">Engineering Calendar</a></li>
								<li><a href="/lounge-calendar">Lounge Calendar</a></li>
							</ul>
						</div>
					</li>
					<li id="sponsor">
						<a>Sponsor</a>
						<div class="sub-menu">
							<ul>
								<li><a href="/our-sponsors">Our Sponsors</a></li>
								<li><a href="/co-host">Co-host An Event</a></li>
								<li><a href="/donate">Donate</a></li>
							</ul>
						</div>
					</li>

				<ul>
			</div>
		</div>
	</div>

</div>			 
