<div class="profile col-md-4">
	<h2>Intern</h2>
		<center><img src="img/profile/interns/IMG_3084.JPG" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Anthony Lai <a href="mailto:yukuan.anthony.lai@gmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2018 | Electrical Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsei1" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapsei1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			“Hello world!” My name is Anthony Lai. I’m a first-year
studying in Electrical Engineering (considering switching to CSE) and I’m currently an ESUC Intern. I grew up in Taiwan and moved
to New York when I was 15 so LA weather seems pretty nice to me in
general. I am always open to make new friends so feel free to come say hi!!
		</div>
	</div>
</div>