<div class="profile col-md-4">
	<h2>Intern</h2>
		<center><img src="img/default_user.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Camille Zhang <a href="mailto:zcy529357747@hotmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2018 | Civil Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsei2" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapsei2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hi everyone my name is Camille Zhang. I'm a first year civil engineering student. I was born in China, schooled in New Zealand and new i've landed in this majestic cosmopolitan city LA! I have a passion for networking with industry and people in general! I'm looking forward to work with this group of fantastic people and I can't wait to contribute my communication/networking skill to ESUC!
		</div>
	</div>
</div>