<div class="profile col-md-4">
	<h2>Intern</h2>
		<center><img src="img/profile/interns/IMG_3093.JPG" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Cassie Pong <a href="mailto:cassiepong@gmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2018 | Chemical Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsei3" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapsei3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hi! My name is Cassie Pong, and I'm a first year Chemical Engineering major. As a new intern for ESUC, I'm looking forward to learning a lot from the officers and contributing some of my own ideas to the team as well. I was born and raised in SoCal so LA is and forever will be my home, and in my free time I like to sing and read. I look forward to a great year and hope to meet you all!
		</div>
	</div>
</div>