<div class="profile col-md-4">
	<h2>Intern</h2>
		<center><img src="img/default_user.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Jayendra Jog <a href="mailto:jay08jog@gmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2018 | Computer Science & Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsei4" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapsei4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hi everyone!
I'm Jay, and I'm a first year computer science and engineering major. I've grown up in various parts of the Bay Area (Santa Clara, Cupertino) and went to high school in San Ramon (east bay area). Besides playing tennis and going to the gym, I love hanging out with friends and learning new things. I'm looking forward to use my fascination with computers to help improve the UCLA engineering experience.
		</div>
	</div>
</div>