<div class="profile col-md-4">
	<h2>Intern</h2>
		<center><img src="img/profile/interns/IMG_3077.JPG" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Lauren Yeung <a href="mailto:lyeung.ca@gmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2018 | Computer Science & Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsei5" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapsei5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hi there; my name is Lauren and I'm a Computer Science and Engineering Major! I'm from Sunnyvale, or San Jose if you haven't heard of that. My first year at UCLA is looking to be great, with all the amazing people and talent around here. Draw me a cat and I'll send one back!
		</div>
	</div>
</div>