<div class="profile col-md-4">
	<h2>Intern</h2>
		<center><img src="img/default_user.jpg" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Maggie Sharpe <a href="mailto:smsharpe6@gmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2017 | Mathematics of Computation</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsei6" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapsei6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			My name is Maggie Sharpe and I'm a second year Mathematics of Computation major. I'm excited to be an intern for ESUC this year, in addition to working with the new ACM-Women's club on campus. I'm a San Diegan and, as such, love nothing more than the beach and a California burrito. In my free time I love to read comic books, draw and crochet!
		</div>
	</div>
</div>