<div class="profile col-md-4">
	<h2>Intern</h2>
		<center><img src="img/profile/interns/IMG_3167.JPG" alt="Cannot load the picture"  width="200px" class="img-thumbnail"></center>
		<div>
			<h3>Matthew Nguyen <a href="mailto:Matthew.p.t.nguyen@gmail.com"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
			<p class="short-desc">Class of 2017 | Aerospace Engineering</p>
			<div class="expand-container">
			<a class="expand collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsei7" aria-expanded="true" aria-controls="collapseOne"></a>
		</div>
	</div>
	<div id="collapsei7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			Hello, my name is Matt Nguyen, and I'm a second year and an ESUC intern. I've always had a love of building things, and as long as I can remember, I've been drawing vehicles, so Aerospace Engineering was a natural fit for me. In my free time I enjoy rendering animations in Blender and playing musical instruments.
		</div>
	</div>
</div>