<div class="news-content">
	<h2>Apply to Become an Officer!</h2>
	<p class="posted-date">Posted December 22, 2014</p>
	<p>Lorem ipsum dolorsit amet, varius mauris nam rutrum nec dui quis. Eget vivamus cras eget, sit tortor viverra, egestas magna nec, fusce amet eget penatibus at nunc, ultrices quisque vulputate. Pede nulla odio nisl, dis in phasellus nunc ac viverra, et sapien dui ut, porttitor parturient arcu amet nulla lorem.</p>
</div>