<div class="news-content">
	<h2>Welcome to the New Website</h2>
	<p class="posted-date">Posted January 19, 2015</p>
	<p>Hello World! Welcome to the official website for the Engineering Society of UCLA. You can find anything related to ESUC here. We are also on Facebook and Twitter, so don't forget to follow us there!</p>
</div>