<div class="news-content">
	<h2>Join ESUC Today</h2>
		<p class="posted-date">Posted January 19, 2015</p>
		<p>If you would like to become an ESUC member, come to any of our general meetings or contact us via email. Participating in ESUC events gives you opportunities to build contacts with people in industry and students in different majors across the campus. We hope to see you in the next event!</p>
</div>